<div data-hook="admin_price_book_form_fields">

  <div class="row">
    <div class="col-md-6">
      <%= f.field_container :name, class: ['form_group'] do %>
        <%= f.label :name %> <span class="required">*</span><br />
        <%= f.text_field :name, class: "form-control title" %>
        <%= f.error_message_on :name %>
      <% end %>
    </div>

    <div class="col-md-6">
      <%= f.field_container :name, class: ['form_group'] do %>
        <%= f.label :currency, Spree.t(:choose_currency) %> <span class="required">*</span><br />
        <%= f.select :currency, pb_currency_options(f.object.currency), class: 'form-control' %>
        <%= f.error_message_on :currency %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= f.field_container :active_from, class: ['form_group'] do %>
        <%= f.label :active_from %> <span class="required">*</span><br />
        <%= f.text_field :active_from, class: 'form-control datepicker datepicker-from' %>
        <%= f.error_message_on :active_from %>
      <% end %>
    </div>

    <div class="col-md-3">
      <%= f.field_container :active_to, class: ['form_group'] do %>
        <%= f.label :active_to %> <span class="required">*</span><br />
        <%= f.text_field :active_to, class: 'form-control datepicker datepicker-to' %>
        <%= f.error_message_on :active_to %>
      <% end %>
    </div>

    <div class="col-md-3">
      <%= f.field_container :role_id, class: ['form_group'] do %>
        <%= f.label :role_id %><br />
        <%= f.collection_select :role_id, Spree::Role.all, :id, :name, { include_blank: true }, { class: 'form-control ' } %>
        <%= f.error_message_on :role_id %>
      <% end %>
    </div>

    <div class="col-md-3">
      <%= f.field_container :priority, class: ['form_group'] do %>
        <%= f.label :priority %> <span class="required">*</span><br />
        <%= f.text_field :priority, class: "form-control" %>
        <%= f.error_message_on :priority %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= f.field_container :parent, class: ['form_group'] do %>
        <%= f.label :parent, Spree.t(:parent) %> <span class="required">*</span><br />
        <%= f.collection_select(:parent_id, Spree::PriceBook.all - [f.object], :id, :name,
              include_blank: true, selected: Spree::PriceBook.default.id, class: 'form-control') %>
        <%= f.error_message_on :parent %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= f.field_container :price_adjustment_factor, class: ['form_group'] do %>
        <%= f.label :price_adjustment_factor %> <span class="required">*</span><br />
        <%= f.text_field :price_adjustment_factor, class: 'form-control' %>
        <%= f.error_message_on :price_adjustment_factor %>
      <% end %>
    </div>

    <div class="col-md-3">
      <%= f.field_container :discount, class: ['form_group'] do %>
        <%= f.label :discount %><br />
        <%= f.check_box :discount, class: ['form_control'] %>
        <%= f.error_message_on :priority %>
      <% end %>
    </div>

  </div>
</div>
