<% content_for :page_title do %>
  <%= Spree.t(:price_book) %>
  <span class="green">"<%= @price_book.name %>"</span>
<% end %>

<% content_for :page_actions do %>
    <%= button_link_to Spree.t(:edit_price_book),
      spree.edit_admin_price_book_url,
      { :class => 'btn btn-success', :icon => 'edit', :id => 'edit_price_book_link' } %>
  <% if @price_book.explicit? %>
    <%= button_link_to Spree.t(:add_products),
      spree.add_products_admin_price_book_path(@price_book),
      { :icon => 'plus', :id => 'add_products_price_book_link' } %>
  <% end %>
<% end %>

<%= render :partial => 'spree/admin/shared/sub_menu/product' %>

<table class="table table-striped" id="listing_price_book_attributes" data-hook>
  <colgroup>
    <col style="width: 25%">
    <col style="width: 75%">
  </colgroup>
  <thead>
    <tr data-hook="option_header">
      <th><%= Spree.t(:attribute) %></th>
      <th><%= Spree.t(:value) %></th>
    </tr>
  </thead>
  <tbody>
    <% @price_book.showable_attributes.each_pair do |name, value| %>
      <% if value.present? %>
        <tr class="spree_price_book <%= cycle('odd', 'even')%>"
          id="<%= spree_dom_id @price_book %>"
          data-hook="option_row">
          <td class="align-center"><%= name.humanize %></td>
          <td class="align-left"><%= value %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br />

<h4><%= Spree.t(:products) %></h4><br />
<% if @price_book.explicit? %>
  <%= render partial: 'added_products' %>
  <div class="pagination_links_bottom"><%= paginate @products %></div>
<% end %>
