<div data-hook="admin_currency_rate_form_fields">
  <div class="row">
    <div data-hook="currency_rates" class="col-md-6">
      <div data-hook="base_currency" class="form-group">
        <%= f.label :base_currency %>
        <%= f.text_field :base_currency, class: 'form-control' %>
      </div>
      <div data-hook="currency" class="form-group">
        <%= f.label :currency, Spree.t(:currency) %>
        <%= f.text_field :currency, class: 'form-control' %>
      </div>
      <div data-hook="exchange_rate" class="form-group">
        <%= f.label :exchange_rate, Spree.t(:exchange_rate) %>
        <%= f.text_field :exchange_rate, :class => 'form-control' %>
        <br/><span class="info"><%= Spree.t(:currency_rate_explanation) %></span>
      </div>
      <% if f.object.default? || Spree::CurrencyRate.default.new_record? %>
        <div data-hook="default_rate" class="form-group">
          <%= f.check_box :default %>
          <%= f.label :default, Spree.t(:default) %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
</div>
