
<% content_for :page_title do %>
  <%= Spree.t(:currency_rates) %>
<% end %>

<% content_for :page_actions do %>
  <% if can? :create, Spree::CurrencyRate %>
      <%= button_link_to Spree.t(:new_currency_rate), new_object_url, { :class => "btn-success", :icon => 'add' } %>
  <% end %>
<% end %>

<% if @currency_rates.any? %>
  <table class="table">
    <colgroup>
      <col style="width: 25%">
      <col style="width: 25%">
      <col style="width: 25%">
      <col style="width: 10%">
      <col style="width: 15%">
    </colgroup>
    <thead>
      <tr data-hook="rate_header">
        <th><%= Spree.t(:base_currency) %></th>
        <th><%= Spree.t(:exchange_rate) %></th>
        <th><%= Spree.t(:currency) %></th>
        <th><%= Spree.t(:default) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @currency_rates.each do |currency_rate|%>
      <tr id="<%= spree_dom_id currency_rate %>" data-hook="rate_row" class="<%= cycle('odd', 'even')%>">
        <td class="align-center"><%= currency_rate.base_currency %></td>
        <td class="align-center"><%= currency_rate.exchange_rate || Spree.t(:not_available) %></td>
        <td class="align-center"><%= currency_rate.currency %></td>
        <td class="align-center"><%= currency_rate.default %></td>
        <td class="actions">
          <%= link_to_edit currency_rate, no_text: true %>
          <%= link_to_delete currency_rate, no_text: true %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/currency_rate')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_currency_rate_path %>!
  </div>  
<% end %>
